.header {
  background-color: rgb(202, 44, 118);
}
.row {
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: antiquewhite;
  align-self: center;
}
.nav {
  align-self: center;
}
.list {
  display: flex;
  gap: 20px;
  width: 100%;
}

li a {
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}

li:hover a {
  color: rgb(219, 241, 15);
  cursor: pointer;
}
